*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
}

.container-m{
    max-width: 860px;
    margin: 0 auto;
}

.container-l{
    max-width: 1024px;
    margin: 0 auto;
}

img{
    display: block;
    object-fit: cover;
    object-position: center;
}

button{
    border-radius: 999px;
    padding: 6px 15px;
    font-size: 12px;
    color: white;
    border: none;
    background-color: red;
    text-transform: capitalize;
}

.button-l{
    padding: 8px 25px;
}

p{
    font-size: 11px;
    color: white;
}

.fw-l{
    font-weight: 800;
}

.fw-m{
    font-weight: 500;
}
